

#wholetitlebox{position:fixed; top: 38px; left:52px; width:60%; padding:5px; 
	border:1px solid #b8b8b8; border-radius:4px;font-size:14px; background-color:#F0f0f0;z-index:14;display:none;}
	
#setupbox {position:fixed;top: 45px; right:15px; width: 80px;
	font-size: 10px; padding: 5px;
	border:#191970 1px solid;border-radius:5px;
	background-color:#FFFFFF;z-index:11;
	display:none;}
	
#submit_setup_button,#cancel_setup_button {width:24px;height: 14px; border:#191970 1px solid; border-radius:3px; 
	float:right; font-size: 10px; padding:2px;background-color:#cccccc}

#cancel_setup_button {float:left}

.selectCp-container{
	float:left;
	//position:absolute;
	//top:32px;
	width:96.8%;
	padding:1.6%;
	padding-top:0px;
	padding-bottom:7px;
	//height:20px;
	display:none;
	background:#ffffff;
	z-index:12;
	position:relative;
	height: 13%;
	overflow-x: hidden;
}

.selectCp{
	float: left;
    text-align: center;
    border-radius: 25px;
    margin-left: 10px;
    margin-top:0.8%;
    font-size:1em;
    letter-spacing:1px;
    border:1px solid #a1a4a7;
    color:#5e5e5e;
    background-color:#f3f3f3;
}