#move2existedtopic{
float:right;
font-size: 10px;
//border:1px solid #000000;
}

#move2existedtopic .wording{
border:1px solid #999999; 
color:#888888;
padding:3px;
border-radius: 4px;

}

#move2existedtopic img{
height:20px; width:20px;
float:right;
//margin-right: 0px;
margin: 5px;

}