.cursor{cursor:pointer}

[href], a, [onclick] {cursor:pointer}

/**
2016/12/24
新增
用于顶部通用返回与关闭
*/
._topBar{
    position:fixed;background:url('https://www.xunta.so/xunta-web/client_code/image/titbg.gif') center top repeat-x;width:100%;height:30px;
    border-radius: 2px;
}
._backBtn{
    float:left;padding:5px 10px 5px 10px;
}
._backBtn>img{
    width:24px;height:18px;
}
._label{
    border-left:1px solid #d8d8d8;
    float: left;
    text-align: center;
    padding: 5px;
    font-size: 14px;
}
._closeBtn{
    float:right;
    //margin:6px 10px 6px 5px;
    border-left:1px solid #d8d8d8;
}
._closeBtn>img{
    width:25px;height:22px;
    padding-left: 5px;
	padding-top:3px;
}