body {
	position:fixed;
	margin: 0;
	padding: 0;
	width: 100%;
	height:100%;
	/*background-color: #F7F7F7;*/
	background-color: #FFFFFF;
	cursor:auto;
	//Verdana 字体 和 Tahoma
	//font-family:Verdana;
	//font-family:Tahoma;
	//color:#191970;
	overflow-y:auto;
	overflow-x:hidden;
}
#header{
	margin-top: 32px;
	width:100%;
	height: 68px;
	/*background-color:#F7F7F7;*/
	border-top:1px solid #d0d0d0;
	border-bottom:1px solid #d0d0d0;
}
#userBox{
	float:left;
	width:60%;
}
#userImageBox{
	float: left;
	padding: 5px;
}
#userImage{
    /*margin-left: 6px;*/
    /*margin-top: 6px;*/
	width: 55px;
	height: 55px;
    border-radius: 25px;
}
#userNameBox{
	float:left;
	margin-left: 5px;
	margin-top: 10px;
}

#closeOtherPage {
	float: right;
    width: 6%;
    margin-top: 7px;
}
#closePage img {

}
#topicTitle{
    width: 100%;
    height: 4%;
    margin: 10px auto;
}
#hisTopics{
	float:left;
	width: 38%;
    margin-left: 5px;
}
#topicWithMe{
	float:right;
	width: 58%;;
}
#showTopicsAboutMe_lable{
	margin-left: -8px;
}
#topic_list{
	width:100%; 
	height: 75%;
	border-top: 1px solid #d0d0d0;
	background-color: #ffffff;
	overflow-y: auto;
	overflow-x: hidden;
}
#topic_content{
	width:100%; 
	margin-top:1px;

}
.topic_title_div{
	width:95%;
	margin:5px 5px 5px 10px;
	padding-top: 2px;
	font-size: 14px;
	clear: both;
}
.topicTitle-text-div{
	display: inline-block;
	width: 92%;;
	margin-bottom: 5px;

}
.topicTitle-text{
	display: inline;

}
.linkMarkImg{
    display: inline-block;
    float: left;

}
.linkMarkImg1Div{
	display: inline-block;
	float: left;
	margin-left: 10px;
	margin-top: 8px;
}
	
.myLinkedTopicTitle{
	font-size: 12px;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 5px;
	width: 85%;
	float: left;
	color: #8C8C8C;
	text-align: right;
	background-color: #e8e8e8;
}
._myLinkedTopicInfo{
	width: 90%;
	margin: 5px 0px 5px 30px;
}
._linkedUserDiv{
	padding-top: 1px;
}
._linkedUserDiv img{
	width: 25px;
	height: 25px;
	border-radius: 13px;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
}
#loadingwrap{
	width:100%;
	height:8%;
	clear: both;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	text-align: center;
	border-top: 1px #dddddd solid;
}
#loading{
	width:30%;
	height: 100%;
	margin:0px auto 0 auto;
	padding: 0px;
}
#loading img{float:left;margin-top: 5px;}
#loadingMoretopic{float:left;margin-top: 5px;margin-left: 8px;}