*.class
*.jar
*.war
*.ear
# Package Files #
/target
.settings/
.classpath
.project
.metadata/
RemoteSystemsTempFiles/
Servers/
target/
zoie-config.properties
qqconnectconfig.properties
/xunta-web/src/main/resources/jdbc.properties
/xunta-web/src/main/resources/redis.properties
