*.class
*.jar
*.war
*.ear
# Package Files #
/target
.settings/
.classpath
.project
.metadata/
RemoteSystemsTempFiles/
Servers/
target/
zoie-config.properties
qqconnectconfig.properties
redis.properties
jdbc.properties
