<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
	    <property name="show_sql">false</property><!-- 配置显示sql语句 -->
  		<property name="format_sql">true</property><!-- 让输出的sql语句格式化 -->
  		
		<mapping class="so.xunta.beans.User"/>
		<mapping class="so.xunta.beans.UserVisitLogger"/>
		<mapping class="so.xunta.beans.Dic"/>
		<mapping class="so.xunta.beans.ConcernPointDO"/>
		<mapping class="so.xunta.beans.CpChoiceDO"/>
		<mapping class="so.xunta.beans.CpChoiceDetailDO"/>
		<mapping class="so.xunta.beans.validate.MobilePhoneValidateCode"/>
		<mapping class="so.xunta.beans.Token"/>
		<mapping class="so.xunta.beans.EventScopeCpTypeMappingDO"/>
		<mapping class="so.xunta.beans.WeChatProperties"/>
		<mapping class="so.xunta.beans.WeiboTag"/>
		<mapping class="so.xunta.beans.TagChoiceDO"/>
	</session-factory>
</hibernate-configuration>