html, body {
	height: 100%;
	width: 100%;
	margin:0px;
	background-color: #fff;
	
	//z-index:-99;
	overflow-y:hidden;
}

.showMatchUsers{
	width:100%; 
	height:84%;
	//overflow-y:scroll;
	overflow-x:hidden;
	background-color:#fcfcfc;
	border-top: 1px solid #e4e4e4;
}

.userimg{
	padding:5px;
	float: left;
	width:100%;
	border-radius:20%;
}

.userimg>img {
	height: 28px;
	width: 28px;
	border-radius: 50%;
	float: left;
}

.matchUser_content{
	float: left;
	border-bottom: 1px solid #e7e7e7;
	padding-bottom:2%;
}

.matchUser_content_top{
	float: left;
    width: 100%;
    height: 50%;
    //line-height: 25px;
    margin-top:6px;
}

.userTag{
	float: left;
    height: 30px;
    line-height: 30px;
    background-color: #FFA07A;
    //width: 50px;
    text-align: center;
    border-radius: 5px;
    margin-left: 5px;
    color: #ffffff;
    margin-bottom:5px;
}
.username{
	float: left;
    //padding:10px 5px 1px 5px;
    font-size:14px;
    margin-left:5px;
}

.matchUser{
	//border-top: 1px solid #f1f1f1;
	//padding-top:10px;
	float:left;
	width:100%;
	margin-top:6%;
}

.userTags{
	float:left;
	padding-left:5px;
	width:100%;
}

.noMatchUser{
	margin:35px auto;
	padding-bottom:4px;
	width: 100%;
	text-align:center;
	font-size:12px;
	height: 60px;
	float: left;
}

.mytag{
    float: left;
    text-align: center;
    border-radius: 25px;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 3px;
    margin-top: 1.2%;/*这里必须是百分数,计划我的标签框高度时要用到.*/
    margin-right: 6px;
    font-size: 13px;
    letter-spacing: 1px;
    border: 1px solid #969494;
    cursor: pointer;
    color: #3a3a3a;
    background-color: #f5f5f5;
    /* text-shadow: 1px 1px 0.3em black; */
    /* box-shadow: 1px 1px 1px black; */
    position: relative;/*设为relative,下级的absolute才能生效*/
}
    
.negative{
	opacity:0.6;
}