body {
	position:fixed;
	margin: 0;
	padding: 0;
	width: 100%;
	height:100%;
	background-color: #ffffff;
	cursor:auto;
	overflow-y:hidden;
	overflow-x:hidden;
}

#header {float:left;
	width:100%; height: 36px; 
	/*background:url('../image/titbg.gif') center top repeat-x;background-size:8px;*/
	border-bottom:1px solid #d0d0d0; z-index:12;
	position:relative;
	}
	
#header img{
	position:absolute;
}

#goback{position:relative;height:36px;font-size:22px;float:left;z-index:15}
#goback img{height:16px; width:22px; margin-top:10px;margin-left:17px;margin-right:10px;}